@model LocalLeague1.Models.Teams

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    h6 {
        width: inherit;
        color: white;
        background-color: black;
        margin-top: 2%;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body style="background-image: url(~/Content/Images/grass.jpg); background-size: cover;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <h4 style="color: white; background-color: black; margin-top: 2%; padding: 1%;">Add a Team</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6" style="text-align: center;">
                <h6>Select League</h6>

                @Html.DropDownList("LeagueId")
                @Html.ValidationMessageFor(model => model.LeagueId, "", new { @class = "text-danger" })



                <h6>Select Parent Club</h6>

                @Html.DropDownList("ClubId")
                @Html.ValidationMessageFor(model => model.ClubId, "", new { @class = "text-danger" })



                <h6>Team Name</h6>

                @Html.EditorFor(model => model.TeamName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeamName, "", new { @class = "text-danger" })



                <h6>Coach 1</h6>

                @Html.EditorFor(model => model.Coach1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Coach1, "", new { @class = "text-danger" })




                <h6>Coach 2</h6>

                @Html.EditorFor(model => model.Coach2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Coach2, "", new { @class = "text-danger" })



                <h6>Coach 3</h6>

                @Html.EditorFor(model => model.Coach3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Coach3, "", new { @class = "text-danger" })

                <br/>
                <input type="submit" value="Add" class="btn btn-default" />
                <button  href="~/Teams/Create" class="btn btn-default">Back to Team List</button>
            </div>
            </div>
 }
</body>
</html>
